.header
	&-top
		&__wrap
			position: absolute
			z-index: 999
			background-color: #f1f1f1
			top: 0
			left: 0
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			width: 100%
			padding: 10px 15px 15px
		&__nav-btn
			width: 10%
		&__logo
			margin-top: 8px
			margin-left: 20px
			width: 10%
			@include _768
				width: 40%
		&__menu
			width: 70%
			text-align: center
			line-height: 2.05
			padding: 0 15px
			@include _768
				width: 0
		&__contacts
			width: 20%
			+fluidFontSize(22, 18, 768, 1170)
			@include _768
				margin: 0 auto
				width: 50%
			&-tel
				line-height: 1.85
				+gotham
				+_768
					+fluidFontSize(10, 18, 350, 768)
		&__btn
			display: block
			justify-self: center
			padding: 0
			margin: 0
			border: none
			text-transform: uppercase
			font-size: 0.875rem
			cursor: pointer
			+bold
			@include _768
				+fluidFontSize(10, 18, 350, 768)
			&:focus
				outline: none
	&-hero
		&__wrap
			margin-top: 250px
			position: relative
		&__text
			@include _768
				text-align: center
				position: relative
				&::after
					content: ""
					position: absolute
					z-index: -3
					top: -40%
					right: 5%
					border-radius: 50%
					width: 500px
					height: 500px
					+gradient
		&__title
			+fluidFontSize(28, 40, 480, 1170)
			+gotham
		&__subtitle
			margin: 20px 0 70px
			line-height: 1.55
			+fluidFontSize(18, 22, 768, 1170)
			+light
		&__slider
			position: absolute
			top: -25%
			right: -20%
			z-index: -1
			margin-right: 20px
			max-width: 750px
			height: auto
			display: inline-block
			@include _979
				max-width: 650px
			@include _768
				display: none
			&::after
				content: ""
				position: absolute
				z-index: -3
				top: 0
				right: 150px
				border-radius: 50%
				width: 700px
				height: 700px
				+gradient
				@include _979
					width: 500px
					height: 500px
			&-arrows
				position: absolute
				z-index: 9999
				top: 78%
				left: 3%
				width: 15%
				@include _979
					top: 78%
				@include _768
					display: none

		&__tabs
			background-color: #f1f1f1
			margin-top: 220px
			text-align: center
			@include _979
				margin-top: 100px
			@include _768
				display: none
		&__slider-item img
			@include _979
				margin-left: 100px
				height: 500px
.arrow
	background-color: transparent
	border: none
	cursor: pointer
	opacity: .7
	&:focus
		outline: none
	&-left
		transform: translateX(-50%)
	&-right
		transform: translateX(50%)
	@include _768
		display: none

.menu
	display: flex
	flex-wrap: wrap
	justify-content: center
	position: relative
	transition: all 0.3s
	@include _768
		flex-direction: column
		text-align: center
		width: 100%
		margin-top: 70px
		padding-left: 10px
		padding-bottom: 10px
		position: absolute
		top: 0
		left: 0
		transform-origin: top
		transform: scaleY(0)
		background-color: #f1f1f1
	&__item
		position: relative
		margin-right: 20px
		border-radius: 5px
		padding: 2px 8px
		transition: all 0.6s ease-in
		+fluidFontSize(18, 16, 768, 1170)
		+regular
		@include _1170
			padding: 0px 5px
			margin-right: 0px
		&:before
			content: ""
			width: 0
			height: 0.2em
			position: absolute
			bottom: 0
			left: 50%
			background: $yellow
			transition: all 0.3s
		&:hover
			cursor: pointer
		&:hover:before
			width: 100%
			left: 0
			background: $yellow
	&.active
		transform: scaleY(1)

.tabs
	&__item
		line-height: 2.05
		text-align: center
		position: relative
		+fluidFontSize(18, 22, 768, 1170)
		&:before
			content: ""
			width: 0
			height: 0.2em
			position: absolute
			bottom: 0
			left: 50%
			background: $yellow
			transition: all 0.3s
		&:hover
			cursor: pointer
		&:hover:before
			width: 100%
			left: 0
			background: $yellow
		&.slick-active
			&:before
				content: ""
				width: 0
				height: 0.2em
				position: absolute
				bottom: 0
				left: 50%
				background: $yellow
				transition: all 0.3s
			&:hover:before
				width: 100%
				left: 0
				background: $yellow
			&:focus
				outline: none
		&.slick-current
			&:before
				content: ""
				width: 100%
				height: 0.2em
				position: absolute
				bottom: 0
				left: 0
				background: $yellow
		+regular
