.header
	&-top
		&__wrap
			position: absolute
			z-index: 999
			background-color: transparent
			top: 0
			left: 0
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			width: 100%
			padding: 10px 15px 15px
			&--fixed
				z-index: 9999
				background-color: #f1f1f1
				position: fixed
				opacity: .9
				top: 0
				left: 0
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				width: 100%
				padding: 10px 15px 15px
		&__nav-btn
			width: 10%
		&__logo
			margin-top: 8px
			margin-left: 20px
			width: 10%
			@include _768
				width: 40%
		&__menu
			width: 70%
			text-align: center
			line-height: 2.05
			padding: 0 15px
			@include _768
				width: 0
		&__contacts
			width: 20%
			+fluidFontSize(22, 18, 768, 1170)
			@include _768
				margin: 0 auto
				width: 50%
			&-tel
				line-height: 1.85
				+fluidFontSize(12, 18, 350, 768)
				+gotham
		&__btn
			display: block
			justify-self: center
			padding: 0
			margin: 0
			border: none
			text-transform: uppercase
			font-size: 0.875rem
			cursor: pointer
			background-color: transparent
			+bold
			@include _768
				+fluidFontSize(10, 18, 350, 768)
			&:focus
				outline: none
	&-hero
		&__wrap
			display: flex
			flex-wrap: wrap
			margin-top: 250px
			position: relative
			@include _480
				margin-top: 150px
		&__text
			width: 50%
			z-index: 5
			@include _480
				width: 100%
				text-align: center
				position: relative
				&::after
					content: ""
					position: absolute
					z-index: -3
					top: -40%
					right: 5%
					border-radius: 50%
					width: 400px
					height: 400px
					+gradient
				@include _480
				&::after
					right: 5%
				@include _350
				&::after
					right: -14%

		&__title
			+fluidFontSize(28, 40, 480, 1270)
			+gotham
		&__subtitle
			margin: 20px 0 70px
			line-height: 1.55
			+fluidFontSize(18, 22, 768, 1170)
			+light
		&__slider
			width: 50%
			height: 550px
			position: relative
			@include _480
				display: none
			&-wrap
				width: 100%
				position: absolute
				top: -30%
				right: 0%
				z-index: -1
			&-item
				position: absolute
				top: 10%
				left: 0
				width: 100%
			&-img
				@include _979
					height: 450px
			&::after
				content: ""
				position: absolute
				z-index: -3
				top: -28%
				right: 0%
				border-radius: 50%
				width: 750px
				height: 750px
				+gradient
				@include _979
					top: -50%
					width: 650px
					height: 650px
			&-arrows
				margin-top: 50px
				margin-left: 20px
				width: 50%
				@include _979
					top: 78%
				@include _480
					display: none
		&__tabs
			width: 100%
			display: block
			background-color: #f1f1f1a8
			margin-top: 20px
			text-align: center
			@include _979
				margin-top: -120px
			@include _480
				display: none
.arrow
	background-color: transparent
	border: none
	cursor: pointer
	opacity: .7
	&:focus
		outline: none
	&-left
		transform: translateX(-50%)
	&-right
		transform: translateX(50%)
	@include _768
		display: none

.menu
	display: flex
	flex-wrap: wrap
	justify-content: center
	position: relative
	transition: all 0.3s
	@include _768
		flex-direction: column
		text-align: center
		width: 100%
		margin-top: 65px
		padding-left: 10px
		padding-bottom: 10px
		position: absolute
		top: 0
		left: 0
		transform-origin: top
		transform: scaleY(0)
		background-color: #f1f1f1
	& li
		@include transition
	&__item
		position: relative
		margin-right: 20px
		border-radius: 5px
		padding: 2px 8px
		transition: all 0.6s ease-in
		+fluidFontSize(14, 18, 350, 1170)
		+regular
		@include _1170
			padding: 0px 5px
			margin-right: 0px
		&:before
			content: ""
			width: 0
			height: 0.2em
			position: absolute
			bottom: 0
			left: 50%
			background: $yellow
			transition: all 0.3s
		&:hover
			cursor: pointer
		&:hover:before
			width: 100%
			left: 0
			background: $yellow
	&.active
		transform: scaleY(1)
