.jobs
	position: relative
	&__wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
	&__slider-arrows
		position: absolute
		z-index: 9999
		top: 0%
		right: 0
		width: 20%
	&__item
		width: 50%
		padding-right: 50px
		padding-left: 50px
		margin-bottom: 40px
		&:focus
			outline: none
		&-img
		&-title
			margin-top: 40px
			font-size: 25px
			+regular
		&-description
			margin: 40px 0
			font-size: 18px
			font-weight: 300
			line-height: 1.7
			color: #999999
			+regular
