.jobs
	&__wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
	&__item
		width: 50%
		padding-right: 50px
		margin-bottom: 40px
		&-img
		&-title
			margin-top: 40px
			font-size: 25px
			+regular
		&-description
			margin: 40px 0
			font-size: 18px
			font-weight: 300
			line-height: 1.7
			color: #999999
			+regular
	&__link
