.models
	position: relative
	&__slider-arrows
		position: absolute
		z-index: 9999
		top: 0%
		right: 0
		width: 20%
	&__wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		position: relative
		&::after
			content: ""
			position: absolute
			z-index: -3
			top: -10%
			left: -20%
			border-radius: 50%
			width: 200px
			height: 200px
			@include gradient
	&__card
		position: relative
		width: 25%
		margin-bottom: 40px
		@include _768
			width: 50%
	&__img
		@include _350
			display: block
			width: 80%
			margin: 0 auto

	&__name
		margin-top: 40px
		font-size: 22px
		font-weight: 300
		+light
	&__socials
		position: absolute
		top: 45%
		left: 13%
		+fluidFontSize(26, 35, 350, 1170)
		color: #ffffff
		& a:hover
			transition: all 0.3s
			color: #1b74e7
		@include _768
			left: 20%

.models-img
	position: relative
	margin-right: 20px
	&__overlay
		position: absolute
		opacity: 0.7
		width: 255px
		height: 340px
		border-radius: 10px
		background-color: $yellow
		transition: all 0.2s
		@include _979
			display: none
	&__content
		width: 255px
		height: 340px
		border-radius: 10px
		@include _979
			width: 200px
			height: auto
	&:hover &__overlay
		opacity: 0
