.services
	&__wrap
		margin-top: 50px
		display: flex
		flex-wrap: wrap
		position: relative
	&__img
		position: absolute
		top: 0
		left: -20%
		width: 60%
	&__description
		margin-left: 50%
	&__head
		margin-top: 50px
		margin-bottom: 30px
		font-size: 50px
		line-height: 1.14
		+gotham
	&__btn
		margin-top: 60px

.check
	&_item
		display: block
		font-size: 22px
		line-height: 2.27
		+light
		&:before
			content: ""
			display: inline-block
			margin-right: 10px
			width: 23px
			height: 18px
			background: url(../img/check.png)
