body
	background-color: #f1f1f1
.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto
	width: 100%
.btn
	display: inline-block
	padding: 30px 50px
	background-color: $orange
	color: #ffffff
	border-radius: 35px
	border: none
	box-shadow: 0px 9px 46px 0 rgba(255, 115, 31, 0.56), 0px 10px 40px 0 rgba(255, 115, 31, 0.35)
	text-transform: uppercase
	font-size: 16px
	@include bold
.title
	margin: 140px 0 70px
	font-size: 55px
	+gotham
.subtitle
	font-size: 22px
	font-weight: 400
	line-height: 1.55
	color: #666666
	+light
.link
	text-transform: uppercase
	margin-left: 20px
	font-size: 14px
	letter-spacing: 0.35
	color: $orange
	@include bold
@mixin gradient
	background: rgb(255,200,31)
	background: linear-gradient(0deg, rgba(255,200,31,1) 0%, rgba(255,218,103,0.9920343137254902) 80%)
