body
	background-color: #f1f1f1
.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto
	width: 100%
	+regular
.btn, input[type=submit]
	display: inline-block
	padding: 30px 50px
	background-color: $orange
	color: #ffffff
	border-radius: 35px
	border: none
	box-shadow: 0px 9px 46px 0 rgba(255, 115, 31, 0.56), 0px 10px 40px 0 rgba(255, 115, 31, 0.35)
	text-transform: uppercase
	font-size: 16px
	transition: all 0.3s
	cursor: pointer
	+bold
	&:hover
		background-color: $orangehover
	&:focus
		outline: none
	@include _768
		display: block
		width: 100%
		padding: 20px 30px
	@include _480
		margin-top: 20px
		line-height: 1.3
		padding: 15px 20px

.title
	margin: 100px 0 70px
	+fluidFontSize(42, 55, 768, 1170)
	+gotham
	@include _979
		margin: 80px 0 30px
	@include _768
		margin: 50px 0 20px

.subtitle
	+fluidFontSize(18, 22, 768, 1170)
	font-weight: 400
	line-height: 1.55
	color: #666666
	+light

.form
	&__wrap
		display: flex
		flex-wrap: wrap
	&__item
		width: 50%
		margin-bottom: 30px
		@include _480
			width: 100%
	&__label
		display: block
		margin: 20px 0
		+fluidFontSize(18, 30, 480, 1170)
		color: $metal
		+light
	&__select
		width: 90%
		height: 60px
		+fluidFontSize(14, 22, 350, 1170)
		padding-left: 10px
		+light
	&__range
		margin-top: 20px
		width: 90%
		-webkit-appearance: none
		height: 12px
		box-shadow: 0px 14px 57px 0 rgba(255, 115, 31, 0.35)
		background-color: $yellow
		border-radius: 5px
		outline: none
		&::-webkit-slider-thumb
			-webkit-appearance: none
			appearance: none
			width: 35px
			height: 35px
			border-radius: 50%
			background: #ff9733
			cursor: pointer
	&__output
		text-align: center
		display: block
		margin: 20px auto 0
		+fluidFontSize(22, 30, 480, 1170)
		color: $metal
		transform: translateX(-35px)
		+light
	&__precoast
		display: block
		width: 100%
		margin: 20px calc(40% - 120px)
		@include _480
			margin: 0 auto
		&-small
			display: block
			+fluidFontSize(22, 30, 480, 1170)
			color: #000
			+light
		&-big
			+fluidFontSize(32, 55, 480, 1170)
			margin-top: 30px
			+gotham
	&__callback
		width: 30%
		@include _768
			display: block
			width: 100%
			margin: 0 auto
	&__input
		width: 90%
		margin: 30px 0
		height: 50px
		border: 1px solid #00000036
		padding-left: 5px
		@include _768
			width: 100%
		@include _480
			margin: 10px 0
	&__privacy-politic
		font-size: 16px
		+light
		@include _768
			margin-top: 20px
.callback-btn
	margin: 15px 0 0 20px
	@include _768
		margin: 0

.link
	text-transform: uppercase
	margin-left: 20px
	font-size: 14px
	letter-spacing: 0.35
	color: $orange
	@include bold
	@include _768
		display: block
		width: 100%
		margin: 30px 10px
.tabs
	&__wrap
	&__item
		line-height: 2.05
		text-align: center
		position: relative
		+fluidFontSize(14, 16, 350, 1170)
		+regular
		@include _768
			display: block
			margin: 0 auto
			width: 60%
		&:before
			content: ""
			width: 0
			height: 0.2em
			position: absolute
			bottom: 0
			left: 50%
			background: $yellow
			transition: all 0.3s
		&:hover
			cursor: pointer
		&:hover:before
			width: 100%
			left: 0
			background: $yellow
		&.slick-active
			&:before
				content: ""
				width: 0
				height: 0.2em
				position: absolute
				bottom: 0
				left: 50%
				background: $yellow
				transition: all 0.3s
			&:hover:before
				width: 100%
				left: 0
				background: $yellow
			&:focus
				outline: none
		&.slick-current
			border: 0.4px solid $yellow
			&:before
				content: ""
				width: 100%
				height: 0.2em
				position: absolute
				bottom: 0
				left: 0
				background: $yellow

@mixin gradient
	background: rgb(255,200,31)
	background: linear-gradient(0deg, rgba(255,200,31,1) 0%, rgba(255,218,103,0.9920343137254902) 80%)
